.footer {
  color: $side-text;
  font-weight: 200;
  &-left {
    float: left;
    width: 50%;
    &__item {
      display: inline-block;
      padding: 1em;
      &--copy{
        font-size: 0.8em;
      }
    }
    &__link{
      @include reset-link;
      color: inherit;
    }
  }
  &-right {
    float: left;
    width: 50%;
  }
}

.social {
  &__list {
    margin-top: 2em;
    float: right;
  }
  &__item {
    @include reset-list;
    width: 40px;
    height: 40px;
    border: 1px solid #d8d8d8;
    margin-right: 10px;
    &:hover {
      background: $main-brand;
    }
  }
  &__link {
    @include reset-link;
  }
}

.go-top {
  font-weight: bold;
  color: $side-color;
  float: right;
  cursor: pointer;
  margin-left: 3em;
  &__img {
    margin: 2em 2em 2em 1em;
    height: 40px;
    width: 40px;
    padding: 10px;
    background: $side-color;
    display: inline-block;
    &:hover {
      background: $main-brand;
    }
  }
}
