.menu {
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 40px;
  margin: 10px auto;
  @include for-size(tablet-landscape-up) {
    justify-content: flex-start;
  }

  &--fixed {
    position: fixed;
  }

  &-lang {
    &__link {
      @include reset-link;
      border: 1px solid #dedede;
      padding: 10px;
      font-size: 12px;

      &:hover {
        border: 1px solid $main-brand;
      }
    }
  }

  &-nav {
    display: none;
    font-size: 12px;
    padding-left: 3.5em;
    @include for-size(tablet-landscape-up) {
      display: block;
    }

    &__item {
      padding-right: 20px;
      @include reset-list;
      position: relative;

      &--logo {
        padding: 0 58px 0 32px;
      }

      &--last {
        padding-right: 0;
      }
    }

    &__link {
      @include reset-link;
      padding: 10px;

      &:hover {
        color: $main-brand;
      }

      &--sub {
        &:hover {
          background: $main-brand;
          color: $main-text--light;
        }
      }
    }
  }

  &-sub {
    background: $main-brand;
    margin: 0;
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 2em;
    display: none;

    &__item {
      @include reset-list;
      decoration: none;
      padding: 1em;
    }

    &__link {
      @include reset-link;
      color: $main-text--light;
      font-weight: normal;

      &:hover {
        font-weight: bold;
      }
    }
  }

  &-logo {
    display: block;
    @include for-size(tablet-landscape-up) {
      display: none;
    }

    &__img {
      width: 120px;
      @include for-size(tablet-landscape-up) {
        width: 76px;
      }
    }
  }

  &-mobile {
    display: block;
    height: 50px;
    width: 50px;
    cursor: pointer;

    &__img {
      //change for ico

      &:hover {
        fill: $main-brand;
      }
    }
    @include for-size(tablet-landscape-up) {
      display: none;
    }
  }
}

.top {
  position: relative;

  &-img {
    background: url("/assets/top_background_view.jpg");
    @include background_img;
  }

  &-price {
    position: absolute;
    background-color: $main-brand;
    color: $main-text--light;
    height: 3em;
    width: 12em;
    padding: 0.5em 0.9em;
    top: 30px;
    right: 0;

    &:hover {
      background-color: $main-text--light;
      color: $main-brand;
    }

    &__link {
      @include reset-link;
      color: inherit;
    }

    &__item {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1em;

      &--small {
        font-weight: normal;
        font-size: 0.65em;
      }
    }
  }

  &-opinion {
    position: absolute;
    color: $main-text--light;
    height: 4em;
    width: 4em;
    border: 1px solid $main-text--light;
    background: rgba(0,0,0,0.4);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    left: 40px;
    bottom: 50px;

    &__rating {
      line-height: 1.5em;
    }

    &__desc {
      font-size: 0.8em;
      font-weight: 600;
    }
  }

  &-motto {
    width: 100%;
    text-align: center;
    color: $main-text--light;
    padding: 18em 0 2em;
    text-shadow: $main-text--dark 2px 2px 25px;

    &__main {
      text-transform: uppercase;
      font-size: 3.5em;
      font-weight: 200;
      letter-spacing: 5px;
      line-height: 20px;
    }

    &__opinion {
      font-style: italic;
      font-size: 1.4em;
    }
  }
}
