//reset mixins
@mixin reset-list {
  display: inline-block;
  list-style: none;
}

@mixin reset-link {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: $main-text--dark;
}

//background img mixin
@mixin background_img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
