html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

.container {
  width: 100%;
  max-width: 1700px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 2.8vw;
  color: #2b2120; }
  @media (min-width: 900px) {
    .container {
      font-size: 1.4vw; } }

.hidden {
  display: none; }

.menu {
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 40px;
  position: relative; }
  @media (min-width: 1220px) {
    .menu {
      justify-content: flex-start; } }
  .menu--fixed {
    position: fixed;
    background: #fff;
    z-index: 1; }
  .menu-lang {
    cursor: pointer; }
    .menu-lang__item {
      padding: 10px;
      font-size: 12px;
      border: 1px solid #dedede; }
      .menu-lang__item:hover {
        border: 1px solid #841f1f; }
    .menu-lang__link {
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
      text-decoration: none;
      color: #2b2120; }
      .menu-lang__link:hover {
        color: #841f1f; }
  .menu-sub {
    padding-left: 0px; }
    @media (min-width: 1220px) {
      .menu-sub {
        display: none;
        position: absolute;
        background: #841f1f;
        margin: 0;
        z-index: 1;
        padding-left: 10px;
        top: 2.5em;
        left: 0; } }
    .menu-sub__item {
      padding: 10px;
      list-style: none; }
      @media (min-width: 1220px) {
        .menu-sub__item {
          display: inline-block;
          list-style: none;
          padding: 1em; } }
    .menu-sub__link {
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
      text-decoration: none;
      color: #2b2120;
      color: #fff;
      font-weight: normal; }
      .menu-sub__link:hover {
        font-weight: bold; }
  .menu .nav {
    position: absolute;
    float: right;
    top: -20px;
    right: 0;
    z-index: 3;
    width: 70%; }
    @media (min-width: 600px) {
      .menu .nav {
        width: 200px; } }
    @media (min-width: 1220px) {
      .menu .nav {
        position: static;
        width: 96%; } }
  .menu-nav {
    display: none;
    font-size: 18px;
    background: #841f1f;
    padding-left: 0; }
    @media (min-width: 1220px) {
      .menu-nav {
        font-size: 12px;
        display: block;
        background: none;
        position: static; } }
    .menu-nav .icon-cancel {
      font-size: 20px;
      cursor: pointer; }
      @media (min-width: 1220px) {
        .menu-nav .icon-cancel {
          display: none; } }
    .menu-nav__item {
      list-style: none;
      padding: 10px 1.6em; }
      @media (min-width: 1220px) {
        .menu-nav__item {
          display: inline-block;
          list-style: none;
          position: relative; } }
      .menu-nav__item:hover .menu-sub {
        display: block; }
      .menu-nav__item--clouse {
        text-align: right;
        color: #fff; }
      @media (min-width: 1220px) {
        .menu-nav__item--sub:hover {
          background: #841f1f; }
          .menu-nav__item--sub:hover a {
            color: #fff; } }
      .menu-nav__item--logo {
        display: none; }
        @media (min-width: 1220px) {
          .menu-nav__item--logo {
            padding: 0 60px;
            display: inline-block; } }
      .menu-nav__item--last {
        padding-right: 0; }
    .menu-nav__link {
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
      text-decoration: none;
      color: #2b2120;
      color: #fff;
      font-weight: normal; }
      @media (min-width: 1220px) {
        .menu-nav__link {
          font-weight: bold;
          color: inherit; } }
      .menu-nav__link:hover {
        font-weight: bolder; }
        @media (min-width: 1220px) {
          .menu-nav__link:hover {
            color: #841f1f; } }
  .menu-logo {
    display: block;
    position: absolute;
    left: 35%; }
    @media (min-width: 600px) {
      .menu-logo {
        left: 45%; } }
    @media (min-width: 1220px) {
      .menu-logo {
        display: none; } }
    .menu-logo__img {
      width: 120px; }
      @media (min-width: 1220px) {
        .menu-logo__img {
          width: 76px; } }
  .menu-mobile {
    display: block;
    height: 50px;
    width: 50px;
    cursor: pointer; }
    @media (min-width: 1220px) {
      .menu-mobile {
        display: none; } }
  .menu .icon-menu-1 {
    font-size: 50px; }
    .menu .icon-menu-1:hover {
      color: #841f1f; }

.top {
  position: relative; }
  .top-slider {
    width: 100%;
    height: 100%; }
  .top-img {
    background: url("../assets/top_background_view.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .top-img--second {
      background: url("../assets/top_background_room.jpg");
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; }
  .top-price {
    position: absolute;
    background-color: #841f1f;
    color: #fff;
    width: 200px;
    padding: 10px 20px;
    top: 30px;
    right: 0; }
    @media (min-width: 900px) {
      .top-price {
        width: 12em;
        padding: 0.5em 0.9em; } }
    .top-price:hover {
      background-color: #fff;
      color: #841f1f; }
    .top-price__link {
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
      text-decoration: none;
      color: #2b2120;
      color: inherit; }
    .top-price__item {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 15px; }
      @media (min-width: 900px) {
        .top-price__item {
          font-size: 1em; } }
      .top-price__item--small {
        font-weight: normal;
        font-size: 10px; }
        @media (min-width: 900px) {
          .top-price__item--small {
            font-size: 0.65em; } }
  .top-opinion {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.4);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    font-size: 10px; }
    @media (min-width: 900px) {
      .top-opinion {
        left: 40px;
        bottom: 50px;
        height: 4em;
        width: 4em;
        font-size: 1em; } }
    .top-opinion__rating {
      line-height: 1.5em; }
    .top-opinion__desc {
      font-size: 8px;
      font-weight: 600; }
      @media (min-width: 900px) {
        .top-opinion__desc {
          font-size: 0.8em; } }
  .top-motto {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 18em 0 2em;
    text-shadow: #2b2120 2px 2px 5px; }
    .top-motto__main {
      text-transform: uppercase;
      font-size: 2.6em;
      font-weight: 200;
      letter-spacing: 5px;
      line-height: 20px; }
      @media (min-width: 600px) {
        .top-motto__main {
          font-size: 3.5em; } }
    .top-motto__opinion {
      font-style: italic;
      font-size: 1.4em; }

.section-header {
  text-transform: uppercase;
  font-weight: 200;
  color: #2b2120;
  font-size: 2.7em;
  flex: 0 1 100%;
  margin-bottom: 0;
  letter-spacing: 8px; }
  .section-header--center {
    text-align: center; }

.section-desc {
  flex: 0 1 100%;
  color: #888888;
  font-size: 0.65em; }
  .section-desc--big {
    font-size: 0.9em;
    text-align: center; }

.slider {
  flex: 0 1 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em; }
  .slider__arrow {
    cursor: pointer;
    color: #888888;
    font-size: 4em;
    font-weight: 200; }
    .slider__arrow:hover {
      color: #841f1f; }
  .slider__wrapper {
    width: 84%;
    height: 20em;
    text-align: center; }
  .slider__list {
    margin: 0 auto;
    padding: 0; }
  .slider__item {
    display: inline-block;
    list-style: none;
    padding: 5px; }
    .slider__item--hidden {
      display: none; }
  .slider__link {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    color: #2b2120; }
    .slider__link:hover {
      color: #841f1f; }
  .slider__container {
    position: relative;
    height: 17em;
    width: 17em; }
    .slider__container:hover span {
      display: block; }
  .slider__img {
    width: 100%; }
  .slider__button {
    position: absolute;
    top: 40%;
    left: 30%;
    padding: 15px 20px;
    color: #fff;
    border: 1px solid #fff;
    display: none;
    font-size: 0.9em;
    font-weight: bold; }
    .slider__button:hover {
      background: #841f1f;
      border-color: #841f1f; }
  .slider__title {
    text-transform: uppercase;
    font-size: 1em; }

.section {
  background: rgba(26, 20, 20, 0.6);
  padding: 1em 2em 4em;
  margin: 2em;
  text-align: center; }
  @media (min-width: 900px) {
    .section {
      width: 27em;
      margin: 3em 20em 3em 9em;
      text-align: left; } }
  .section-header--light {
    color: #fff; }
  .section--light {
    background: #fff;
    margin: 0;
    padding: 4em; }
  .section-desc-container {
    line-height: 1.5em;
    margin-bottom: 2em; }
    @media (min-width: 900px) {
      .section-desc-container {
        width: 20em; } }
  .section-desc--light {
    color: #fff; }
  .section-rooms {
    background: url("../assets/background_rooms.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
  .section-button {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    color: #2b2120;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 800;
    font-size: 0.6em;
    letter-spacing: 1px; }
    .section-button:hover {
      background: #fff;
      color: #2b2120; }
    .section-button--light {
      background: #841f1f; }
      .section-button--light:hover {
        border-color: #841f1f; }
  .section-location {
    background: url("../assets/background_balkon.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
  .section-family {
    background: url("../assets/background_family.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }

.section-slider {
  width: 27em;
  position: relative;
  margin: 4em 0; }
  .section-slider__img {
    width: 100%; }
  .section-slider__ctrl {
    position: absolute;
    left: 5%;
    bottom: 5%; }
  .section-slider__controlls {
    height: 25px;
    width: 25px;
    border: 1px solid #888888;
    padding: 2px;
    margin: 3px;
    display: inline-block;
    cursor: pointer; }

.map {
  flex: 0 1 100%;
  height: 200px; }
  @media (min-width: 900px) {
    .map {
      flex: 0 1 50%; } }

.contact {
  flex: 0 1 100%;
  height: 30em;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-weight: 200; }
  @media (min-width: 900px) {
    .contact {
      flex: 0 1 50%; } }
  .contact-adress {
    height: 50%;
    width: 100%;
    background: url("../assets/background-reception.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    .contact-adress__adress {
      padding: 3em;
      width: 100%;
      float: left;
      font-size: 0.9em; }
      @media (min-width: 600px) {
        .contact-adress__adress {
          width: 40%; } }
    .contact-adress__container {
      width: 100%;
      float: left; }
      @media (min-width: 600px) {
        .contact-adress__container {
          width: 60%; } }
    .contact-adress__reception {
      border: 1px solid #fff;
      font-size: 1em;
      margin: 2.5em 2em 0 0;
      padding: 3em 2em;
      text-align: center; }
      .contact-adress__reception-title {
        letter-spacing: 6px;
        font-size: 1.25em; }
  .contact-promotion {
    text-align: center;
    height: 50%;
    padding-top: 2em;
    font-size: 0.65em;
    letter-spacing: 0;
    background: #1a1414; }
    .contact-promotion__header {
      text-transform: uppercase;
      font-weight: 200;
      font-size: 1.8em;
      letter-spacing: 5px; }
    .contact-promotion__form-imput {
      padding: 1em;
      border: none;
      font-size: 1em; }
    .contact-promotion__form-button {
      color: #fff;
      background: #841f1f;
      font-size: 1em;
      padding: 1em 2em;
      font-weight: bold;
      border: none; }

.footer {
  color: #888888;
  font-weight: 200; }
  .footer-left {
    float: left;
    width: 100%; }
    @media (min-width: 900px) {
      .footer-left {
        width: 28%; } }
    @media (min-width: 1220px) {
      .footer-left {
        width: 50%; } }
    .footer-left__item {
      text-align: center;
      display: block;
      padding: 10px; }
      @media (min-width: 1220px) {
        .footer-left__item {
          display: inline-block; } }
      @media (min-width: 1220px) {
        .footer-left__item {
          padding: 1em; } }
      .footer-left__item--copy {
        font-size: 0.8em; }
    .footer-left__link {
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
      text-decoration: none;
      color: #2b2120;
      color: inherit; }
  .footer-right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
    width: 100%; }
    @media (min-width: 900px) {
      .footer-right {
        width: 72%;
        justify-content: flex-end; } }
    @media (min-width: 1220px) {
      .footer-right {
        width: 50%; } }

.go-top {
  font-weight: bold;
  color: #1a1414;
  cursor: pointer;
  margin-left: 5em;
  font-size: 11px; }
  .go-top__img {
    margin: 2em 2em 2em 1em;
    padding: 3px 0;
    font-size: 29px;
    background: #1a1414;
    display: inline-block;
    color: #fff; }
    .go-top__img:hover {
      background: #841f1f; }

.social__list {
  margin-top: 3em;
  padding: 0; }

.social__item {
  display: inline-block;
  list-style: none;
  padding: 5px 3px;
  border: 1px solid #d8d8d8;
  margin-right: 10px;
  font-size: 24px; }
  .social__item:hover {
    background: #841f1f; }

.social__link {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: #2b2120;
  color: #888888; }
  .social__link:hover {
    color: #fff; }
