.footer {
  color: $side-text;
  font-weight: 200;

  &-left {
    float: left;
    width: 100%;
    @include for-size(tablet-portrait-up) {
      width: 28%;
    }
    @include for-size(tablet-landscape-up) {
      width: 50%;
    }

    &__item {
      text-align: center;
      display: block;
      padding: 10px;
      font-size: 14px;
      @include reset-link;
      @include for-size(tablet-portrait-up) {
        font-size: 16px;
      }
      @include for-size(tablet-landscape-up) {
        padding: 1em;
        display: inline-block;
      }

      &--copy {
        font-size: 0.8rem;
      }
    }

    &__link {
      @include reset-link;
      color: inherit;
    }
  }

  &-right {
    @include flexbox;
    @include justify-content(center);
    @include flex-wrap(wrap);
    float: left;
    width: 100%;
    padding-right: 60px;
    @include for-size(tablet-portrait-up) {
      width: 72%;
      @include justify-content(flex-end);
    }
    @include for-size(tablet-landscape-up) {
      width: 50%;
    }
  }
}

.go-top {
  font-weight: bold;
  color: $side-color;
  cursor: pointer;
  margin: 1em 0 1em 5em;
  font-size: 11px;

  &__desc {
    padding-right: 20px;
  }

  &__img {
    padding: 3px 0;
    font-size: 29px;
    background: $side-color;
    display: inline-block;
    color: $main-text--light;

    &:hover {
      background: $main-brand;
    }
  }
}

.social {
  &__item {
    @include reset-list;
    padding: 5px 3px;
    border: 1px solid #d8d8d8;
    margin-right: 10px;
    font-size: 24px;

    &:hover {
      background: $main-brand;
    }
  }

  &__link {
    @include reset-link;
    color: $side-text;

    &:hover {
      color: $main-text--light;
    }
  }
}
