.menu {
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 40px;
  // margin: 6px auto;
  position: relative;
  @include for-size(tablet-landscape-up) {
    justify-content: flex-start;
  }

  &--fixed {
    position: fixed;
    background: $main-text--light;
    z-index: 1;
  }

  &-lang {
    cursor: pointer;

    &__item {
      padding: 10px;
      font-size: 12px;
      border: 1px solid #dedede;
      &:hover {
        border: 1px solid $main-brand;
      }
    }
    &__link {
      @include reset-link;
      &:hover {
        color: $main-brand;
      }
    }
  }
  &-sub {
    padding-left: 0px;
    @include for-size(tablet-landscape-up) {
        display: none;
        position: absolute;
        background: $main-brand;
        margin: 0;
        z-index: 1;
        padding-left: 10px;
        top: 2.5em;
        left: 0;
    }

    &__item {
      padding: 10px;
      list-style: none;
      @include for-size(tablet-landscape-up) {
        @include reset-list;
        padding: 1em;
      }
    }

    &__link {
      @include reset-link;
      color: $main-text--light;
      font-weight: normal;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .nav {
    position: absolute;
    float: right;
    top: -20px;
    right: 0;
    z-index: 3;
    width: 70%;
    @include for-size(phone-up) {
      width: 200px;
    }
    @include for-size(tablet-landscape-up) {
      position: static;
      width: 94%;
    }
  }
  &-nav {
    display: none;
    font-size: 16px;
    background: $main-brand;
    padding-left: 0;
    @include for-size(tablet-landscape-up) {
      font-size: 12px;
      display: block;
      background: none;
      position: static;
    }
    .icon-cancel {
      font-size: 20px;
      cursor: pointer;
      @include for-size(tablet-landscape-up) {
        display: none;
      }
    }
    &__item {
      list-style: none;
      padding: 10px 20px;
      @include for-size(tablet-landscape-up) {
         @include reset-list;
          position: relative;
      }
      &:hover {
        .menu-sub {
          display: block;
        }
      }
      &--clouse {
        text-align: right;
        color: $main-text--light;
      }
      &--sub {
        @include for-size(tablet-landscape-up) {
        &:hover {
         background: $main-brand;
         a {
           color: $main-text--light;
         }
        }
      }
      }
      &--logo {
        display: none;
        @include for-size(tablet-landscape-up) {
          padding: 0 60px;
          display: inline-block;
        }

      }
      &--last {
        padding-right: 0;
      }
    }

    &__link {
      @include reset-link;
      color: $main-text--light;
      font-weight: normal;
      @include for-size(tablet-landscape-up) {
        font-weight: bold;
        color: inherit;
      }
      &:hover {
        font-weight: bolder;
        @include for-size(tablet-landscape-up) {
        color: $main-brand;
      }
      }
    }
  }

  &-logo {
    display: block;
    position: absolute;
    left: 35%;
    @include for-size(phone-up){
      left: 45%;
    }
    @include for-size(tablet-landscape-up) {
      display: none;
    }

    &__img {
      width: 120px;
      @include for-size(tablet-landscape-up) {
        width: 76px;
      }
    }
  }

  &-mobile {
    display: block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    @include for-size(tablet-landscape-up) {
      display: none;
    }
  }

  .icon-menu-1 {
    font-size: 50px;
    &:hover {
      color: $main-brand;
    }
  }
}

.top {
  position: relative;
  &-slider{
    width: 100%;
    height: 100%;
  }
  &-img {
    // position: absolute;
    background: url("../assets/top_background_view.jpg");
    @include background_img;
    &--second {
      background: url("../assets/top_background_room.jpg");
        @include background_img;
    }
  }

  &-price {
    position: absolute;
    background-color: $main-brand;
    color: $main-text--light;
    width: 200px;
    padding: 10px 20px;
    top: 30px;
    right: 0;
    @include for-size(tablet-portrait-up) {
      width: 12em;
      padding: 0.5em 0.9em;
    }

    &:hover {
      background-color: $main-text--light;
      color: $main-brand;
    }

    &__link {
      @include reset-link;
      color: inherit;
    }

    &__item {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 15px;
      @include for-size(tablet-portrait-up) {
      font-size: 1em;
    }
      &--small {
        font-weight: normal;
        font-size: 10px;
        @include for-size(tablet-portrait-up) {
        font-size: 0.65em;
      }
      }
    }
  }

  &-opinion {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    color: $main-text--light;
    border: 1px solid $main-text--light;
    background: rgba(0,0,0,0.4);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    font-size: 10px;
    z-index: 1;
    @include for-size(tablet-portrait-up) {
      left: 40px;
      bottom: 50px;
      height: 4em;
      width: 4em;
      font-size: 1em;

    }
    &__rating {
      line-height: 1.5em;
    }
    &__desc {
      font-size: 8px;
      font-weight: 600;
      @include for-size(tablet-portrait-up) {
        font-size: 0.8em;
      }
    }
  }

  &-motto {
    width: 100%;
    text-align: center;
    color: $main-text--light;
    padding: 18em 0 2em;
    text-shadow: $main-text--dark 2px 2px 5px;

    &__main {
      text-transform: uppercase;
      font-size: 2.6em;
      font-weight: 200;
      letter-spacing: 5px;
      line-height: 20px;
      @include for-size(phone-up) {
        font-size: 3.5em;
      }
    }

    &__opinion {
      font-style: italic;
      font-size: 1.4em;
    }
  }
}
