.section {
  background: $background-section;
  padding: 1em 2em 4em;
  margin: 2em;
  text-align: center;
  @include for-size(tablet-portrait-up){
    width: 27em;
    margin: 3em 20em 3em 9em;
    text-align: left;
  }

  &-header--light {
    color: $main-text--light;
  }

  &--light {
    background: $main-text--light;
    margin: 0;
    padding: 4em;
  }

  &-desc {
    margin-bottom: 50px;
    font-size: 15px;
    @include for-size(tablet-landscape-up){
      font-size: 0.7em;
    }
    &-container {
      line-height: 1.5em;
      @include for-size(tablet-portrait-up){
        width: 20em;
      }
    }

    &--light {
      color: $main-text--light;
    }
  }

  &-rooms {
    background: url("../assets/background_rooms.jpg");
    @include background_img;
  }

  &-button {
    @include reset-link;
    color: $main-text--light;
    text-transform: uppercase;
    border: 1px solid $main-text--light;
    padding: 12px 20px;
    font-weight: 800;
    font-size: 0.7rem;
    letter-spacing: 1px;

    &:hover {
      background: $main-text--light;
      color: $main-text--dark;
    }

    &--light {
      background: $main-brand;

      &:hover {
        border-color: $main-brand;
      }
    }
  }

  &-location {
    background: url("../assets/background_balkon.jpg");
    @include background_img;
  }

  &-family {
    background: url("../assets/background_family.jpg");
    @include background_img;
  }
}
